/***********************************/
/***********************************/
/***********************************/

#selectedPlayer1.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaportrait.png);
  }
  
  #selectedPlayer2.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaportrait.png);
  }
  
  #selectedPlayer1.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  }
  
  #selectedPlayer2.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  }
  
  #selectedPlayer1.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3portrait.png);
  }
  
  #selectedPlayer2.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3portrait.png);
  }
  
  #selectedPlayer1.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaPortrait.png);
  }
  
  #selectedPlayer2.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaPortrait.png);
  }
  
  #selectedPlayer1.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuPortrait.png);
  }
  
  #selectedPlayer2.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuPortrait.png);
  }
  
  #selectedPlayer1.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksPortrait.png);
  }
  
  #selectedPlayer2.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksPortrait.png);
  }
  
  #selectedPlayer1.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3portrait.png);
  }
  
  #selectedPlayer2.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3portrait.png);
  }
  
  #selectedPlayer1.Venom{
    background-image: url(../images/sprites/Venom/venomPortrait.png);
  }
  
  #selectedPlayer2.Venom{
    background-image: url(../images/sprites/Venom/venomPortrait.png);
  }
  
  #selectedPlayer1.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaPortrait.png);
  }
  
  #selectedPlayer2.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaPortrait.png);
  }
  
  #selectedPlayer1.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJPortrait.png);
  }
  
  #selectedPlayer2.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJPortrait.png);
  }
  
  #selectedPlayer1.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerportrait.png);
  }
  
  #selectedPlayer2.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerportrait.png);
  }
  
  #selectedPlayer1.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spiderManPortrait.png);
  }
  
  #selectedPlayer2.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spiderManPortrait.png);
  }
  
  #selectedPlayer1.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeportrait.png);
  }
  
  #selectedPlayer2.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeportrait.png);
  }
  
  #selectedPlayer1.Itachi{
    background-image: url(../images/sprites/itachi/itachiportrait.png);
  }
  
  #selectedPlayer2.Itachi{
    background-image: url(../images/sprites/itachi/itachiportrait.png);
  }

  #selectedPlayer1.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuPortrait.png);
  }

  #selectedPlayer2.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuPortrait.png);
  }

  #selectedPlayer1.Goku{
    background-image: url(../images/sprites/Goku/GokuPortrait.png);
  }

  #selectedPlayer2.Goku{
    background-image: url(../images/sprites/Goku/GokuPortrait.png);
  }

  #selectedPlayer1.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FinalCoolerPortrait.png);
  }

  #selectedPlayer2.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FinalCoolerPortrait.png);
  }

  #selectedPlayer1.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2Coolerportrait.png);
  }

  #selectedPlayer2.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2Coolerportrait.png);
  }

  #selectedPlayer1.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaPortrait.png);
  }

  #selectedPlayer2.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaPortrait.png);
  }

  #selectedPlayer1.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaPortrait.png);
  }

  #selectedPlayer2.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaPortrait.png);
  }

  #selectedPlayer1.Buumasu{
    background-image: url(../images/sprites/Buumasu/buumasuCoolerportrait.png);
  }

  #selectedPlayer2.Buumasu{
    background-image: url(../images/sprites/Buumasu/buumasuCoolerportrait.png);
  }

  #selectedPlayer1.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaPortrait.png);
  }

  #selectedPlayer2.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaPortrait.png);
  }
  
  #selectedPlayer1.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroPortrait.png);
  }

  #selectedPlayer2.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroPortrait.png);
  }

  /***********************************/
  /***********************************/
  /***********************************/

  .perso.Gogeta{
    background-image: url(../images/slotCharacter/gogetaSlot.png);
  }
  
  .perso.VegitoSSJ{
    background-image: url(../images/slotCharacter/vegetoSlot.png);
  }
  
  .perso.GokuSSJ3{
    background-image: url(../images/slotCharacter/gokuSSJ3Portrait.png);
  }
  
  .perso.GoldenFrieza{
    background-image: url(../images/slotCharacter/goldenFriezaSlot.png);
  }
  
  .perso.BlackGoku{
    background-image: url(../images/slotCharacter/gokuSlot.png);
  }
  
  .perso.Buutenks{
    background-image: url(../images/slotCharacter/buutenksSlot.png);
  }
  
  .perso.GohanSSJ3{
    background-image: url(../images/slotCharacter/gohanSSJ3Portrait.png);
  }
  
  .perso.Venom{
    background-image: url(../images/slotCharacter/venomSlot.png);
  }
  
  .perso.Frieza{
    background-image: url(../images/slotCharacter/FriezaSlot.png);
  }
  
  .perso.GokuSSJ{
    background-image: url(../images/slotCharacter/gokuSSJSlot.png);
  }
  
  .perso.GoldenCooler{
    background-image: url(../images/slotCharacter/goldenCoolerSlot.png);
  }
  
  .perso.SpiderMan{
    background-image: url(../images/slotCharacter/spiderManPortrait.png);
  }
  
  .perso.Sasuke{
    background-image: url(../images/slotCharacter/sasukeSlot.png);
  }
  
  .perso.Itachi{
    background-image: url(../images/slotCharacter/Itachiportrait.png);
  }

  .perso.KidBuu{
    background-image: url(../images/slotCharacter/KidBuuSlot.png);
  }

  .perso.Goku{
    background-image: url(../images/slotCharacter/gokuPortrait.png);
  }

  .perso.FinalCooler{
    background-image: url(../images/slotCharacter/FinalCoolerPortrait.png);
  }

  .perso.GohanSSJ{
    background-image: url(../images/slotCharacter/gohanSSJportrait.png);
  }

  .perso.Vegeta{
    background-image: url(../images/slotCharacter/VegetaSlot.png);
  }

  .perso.FirstFrieza{
    background-image: url(../images/slotCharacter/FriezaFirstSlot.png);
  }

  .perso.Buumasu{
    background-image: url(../images/slotCharacter/BuumasuSlot.png);
  }
  
  .perso.MajinVegeta{
    background-image: url(../images/slotCharacter/majinVegetaSlot.png);
  }

  .perso.DrGero{
    background-image: url(../images/slotCharacter/DrGeroSlot.png);
  }

  /**********************************************************/
  /***************************CHOOSEPERSO*******************************/
  /**********************************************************/

  /***************PLAYERSET********************/

.Player1{
    background-image: url(../images/sprites/gogetablue/gogetaKamehaDo.png);
  }
  
  .Player2{
    background-image: url(../images/sprites/gogetablue/gogetaKamehaDo.png);
  }
  
  .Player1.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaKamehaDo.png);
    animation: comingGogetaSSJ 3s;
  }
  
  .Player1.Gogeta.win{
    background-image: url(../images/sprites/gogetablue/win/3.png);
    animation: winGogeta 3s;
  }
  
  .Player1.Gogeta.loose{
    background-image: url(../images/sprites/gogetablue/loose/3.png);
    animation: LoosingGogeta 3s;
    animation-timing-function: steps(3);
  }
  
  .Player2.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaKamehaDo.png);
    animation: comingGogetaSSJ 3s;
  }
  
  .Player2.Gogeta.win{
    background-image: url(../images/sprites/gogetablue/win/3.png);
    animation: winGogeta 3s;
  }
  
  .Player2.Gogeta.loose{
    background-image: url(../images/sprites/gogetablue/loose/3.png);
    animation: LoosingGogeta 3s;
    animation-timing-function: steps(3);
  }
  
  @keyframes winGogeta{
    0%{
      background-image: url(../images/sprites/gogetablue/win/1.png);
    }79%{
      background-image: url(../images/sprites/gogetablue/win/2.png);
    }80%{
      background-image: url(../images/sprites/gogetablue/win/3.png);
    }
  }
  
  @keyframes comingGogetaSSJ {
    0%{
      background-image: url(../images/sprites/gogetablue/comingInFight/1.png);
    }19%{
      background-image: url(../images/sprites/gogetablue/comingInFight/1.png);
    }20%{
      background-image: url(../images/sprites/gogetablue/comingInFight/2.png);
    }39%{
      background-image: url(../images/sprites/gogetablue/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/gogetablue/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/gogetablue/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/gogetablue/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/gogetablue/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/gogetablue/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/gogetablue/comingInFight/5.png);
    }
  }
  
  @keyframes LoosingGogeta{
    0%{
      background-image: url(../images/sprites/gogetablue/loose/1.png);
    }33%{
      background-image: url(../images/sprites/gogetablue/loose/1.png);
    }66%{
      background-image: url(../images/sprites/gogetablue/loose/2.png);
    }80%{
      background-image: url(../images/sprites/gogetablue/loose/3.png);
    }
  }
  
  .Player1.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoKamehaDo.png);
    animation: comingVegitoSSJ 3s;
  }
  
  .Player1.VegitoSSJ.win{
    background-image: url(../images/sprites/gogetasayan/win/5.png);
    animation: winVegito 3s;
  }
  
  .Player1.VegitoSSJ.loose{
    background-image: url(../images/sprites/gogetasayan/loose/1.png);
  }
  
  .Player2.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoKamehaDo.png);
    animation: comingVegitoSSJ 3s;
  }
  
  .Player2.VegitoSSJ.win{
    background-image: url(../images/sprites/gogetasayan/win/5.png);
    animation: winVegito 3s;
  }
  
  .Player2.VegitoSSJ.loose{
    background-image: url(../images/sprites/gogetasayan/loose/1.png);
  }
  
  @keyframes winVegito {
    0%{
      background-image: url(../images/sprites/gogetasayan/win/1.png);
    }19%{
      background-image: url(../images/sprites/gogetasayan/win/1.png);
    }20%{
      background-image: url(../images/sprites/gogetasayan/win/2.png);
    }39%{
      background-image: url(../images/sprites/gogetasayan/win/2.png);
    }40%{
      background-image: url(../images/sprites/gogetasayan/win/3.png);
    }59%{
      background-image: url(../images/sprites/gogetasayan/win/3.png);
    }60%{
      background-image: url(../images/sprites/gogetasayan/win/4.png);
    }79%{
      background-image: url(../images/sprites/gogetasayan/win/4.png);
    }80%{
      background-image: url(../images/sprites/gogetasayan/win/5.png);
    }100%{
      background-image: url(../images/sprites/gogetasayan/win/5.png);
    }
  }
  
  @keyframes comingVegitoSSJ {
    0%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/1.png);
    }19%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/1.png);
    }20%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/2.png);
    }39%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/gogetasayan/comingInFight/5.png);
    }
  }
  
  .Player1.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3KamehaDo.png);
    animation: comingGokuSSJ3 3s;
  }
  
  .Player1.GokuSSJ3.loose{
    background-image: url(../images/sprites/gokuSSJ3/loose/5.png);
    animation: LoosingGoku 3s;
  }
  
  .Player1.GokuSSJ3.win{
    background-image: url(../images/sprites/gokuSSJ3/win/3.png);
    animation: winGoku 3s;
  }
  
  .Player2.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3KamehaDo.png);
    animation: comingGokuSSJ3 3s;
  }
  
  .Player2.GokuSSJ3.loose{
    background-image: url(../images/sprites/gokuSSJ3/loose/5.png);
    animation: LoosingGoku 3s;
  }
  
  .Player2.GokuSSJ3.win{
    background-image: url(../images/sprites/gokuSSJ3/win/3.png);
    animation: winGoku 3s;
  }
  
  @keyframes comingGokuSSJ3 {
    0%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/1.png);
    }19%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/1.png);
    }20%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/2.png);
    }39%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/gokuSSJ3/comingInFight/5.png);
    }
  }
  
  @keyframes winGoku{
    0%{
      background-image: url(../images/sprites/gokuSSJ3/win/1.png);
    }79%{
      background-image: url(../images/sprites/gokuSSJ3/win/2.png);
    }80%{
      background-image: url(../images/sprites/gokuSSJ3/win/3.png);
    }
  }
  
  @keyframes LoosingGoku {
    0%{
      background-image: url(../images/sprites/gokuSSJ3/loose/1.png);
    }19%{
      background-image: url(../images/sprites/gokuSSJ3/loose/1.png);
    }20%{
      background-image: url(../images/sprites/gokuSSJ3/loose/2.png);
    }39%{
      background-image: url(../images/sprites/gokuSSJ3/loose/2.png);
    }40%{
      background-image: url(../images/sprites/gokuSSJ3/loose/3.png);
    }59%{
      background-image: url(../images/sprites/gokuSSJ3/loose/3.png);
    }60%{
      background-image: url(../images/sprites/gokuSSJ3/loose/4.png);
    }79%{
      background-image: url(../images/sprites/gokuSSJ3/loose/4.png);
    }80%{
      background-image: url(../images/sprites/gokuSSJ3/loose/5.png);
    }100%{
      background-image: url(../images/sprites/gokuSSJ3/loose/5.png);
    }
  }
  
  .Player1.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaDoingKameha.png);
    animation: comingFrieza 3s;
  }
  
  .Player1.GoldenFrieza.win{
    background-image: url(../images/sprites/goldenFrieza/win/3.png);
    animation: winFrieza 2s;
  }
  
  .Player1.GoldenFrieza.loose{
    background-image: url(../images/sprites/goldenFrieza/loose/1.png);
  }
  
  .Player2.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaDoingKameha.png);
    animation: comingFrieza 3s;
  }
  
  .Player2.GoldenFrieza.win{
    background-image: url(../images/sprites/goldenFrieza/win/3.png);
    animation: winFrieza 2s;
  }
  
  .Player2.GoldenFrieza.loose{
    background-image: url(../images/sprites/goldenFrieza/loose/1.png);
  }
  
  @keyframes winFrieza{
    0%{
      background-image: url(../images/sprites/goldenFrieza/win/1.png);
    }50%{
      background-image: url(../images/sprites/goldenFrieza/win/2.png);
    }100%{
      background-image: url(../images/sprites/goldenFrieza/win/3.png);
    }
  }
  
  @keyframes comingFrieza {
    0%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/1.png);
    }19%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/1.png);
    }20%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/2.png);
    }39%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/goldenFrieza/comingInFight/5.png);
    }
  }
  
  .Player1.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuKamehaDo.png);
    animation: comingBlackGoku 3s;
  }
  
  .Player1.BlackGoku.win{
    background-image: none;
    animation: winBlackGoku 1s;
  }
  
  .Player1.BlackGoku.loose{
    background-image: url(../images/sprites/blackgoku/loose/1.png);
  }
  
  .Player2.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuKamehaDo.png);
    animation: comingBlackGoku 3s;
  }
  
  .Player2.BlackGoku.win{
    background-image: none;
    animation: winBlackGoku 1s;
  }
  
  .Player2.BlackGoku.loose{
    background-image: url(../images/sprites/blackgoku/loose/1.png);
  }
  
  @keyframes winBlackGoku{
    0%{
      background-image: url(../images/sprites/blackgoku/win/1.png);
    }49%{
      background-image: url(../images/sprites/blackgoku/win/1.png);
    }50%{
      background-image: url(../images/sprites/blackgoku/win/2.png);
    }100%{
      background-image: url(../images/sprites/blackgoku/win/2.png);
    }
  }
  
  @keyframes comingBlackGoku {
    0%{
      background-image: none;
    }39%{
      background-image: none;
    }40%{
      background-image: url(../images/sprites/blackgoku/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/blackgoku/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/blackgoku/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/blackgoku/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/blackgoku/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/blackgoku/comingInFight/5.png);
    }
  }
  
  .Player1.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksKamehaDo.png);
    animation: comingBuutenks 3s;
  }
  
  .Player1.Buutenks.win{
    background-image: url(../images/sprites/buutenks/comingInFight/1.png);
  }
  
  .Player1.Buutenks.loose{
    background-image: url(../images/sprites/buutenks/loose/1.png);
  }
  
  .Player2.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksKamehaDo.png);
    animation: comingBuutenks 3s;
  }
  
  .Player2.Buutenks.win{
    background-image: url(../images/sprites/buutenks/comingInFight/1.png);
  }
  
  .Player2.Buutenks.loose{
    background-image: url(../images/sprites/buutenks/loose/1.png);
  }
  
  @keyframes comingBuutenks {
    0%{
      background-image: url(../images/sprites/buutenks/comingInFight/1.png);
    }100%{
      background-image: url(../images/sprites/buutenks/comingInFight/1.png);
    }
  }
  
  .Player1.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3KamehaDo.png);
    animation: comingGohanSSJ3 3s;
  }
  
  .Player1.GohanSSJ3.win{
    background-image: url(../images/sprites/gohanSSJ3/win/3.png);
    animation: winGohanSSJ3 5s;
    animation-timing-function: steps(1);
  }
  
  .Player1.GohanSSJ3.loose{
    background-image: url(../images/sprites/gohanSSJ3/loose/4.png);
    animation: looseGohanSSJ3 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3KamehaDo.png);
    animation: comingGohanSSJ3 3s;
  }
  
  .Player2.GohanSSJ3.win{
    background-image: url(../images/sprites/gohanSSJ3/win/3.png);
    animation: winGohanSSJ3 5s;
    animation-timing-function: steps(1);
  }
  
  .Player2.GohanSSJ3.loose{
    background-image: url(../images/sprites/gohanSSJ3/loose/4.png);
    animation: looseGohanSSJ3 3s;
    animation-timing-function: steps(1);
  }
  
  @keyframes comingGohanSSJ3 {
    0%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/1.png);
    }19%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/1.png);
    }20%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/2.png);
    }39%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/3.png);
    }59%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/3.png);
    }60%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/4.png);
    }79%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/4.png);
    }80%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/5.png);
    }100%{
      background-image: url(../images/sprites/gohanSSJ3/comingInFight/5.png);
    }
  }
  
  @keyframes looseGohanSSJ3{
    0%{
      background-image: url(../images/sprites/gohanSSJ3/loose/1.png);
    }25%{
      background-image: url(../images/sprites/gohanSSJ3/loose/2.png);
    }50%{
      background-image: url(../images/sprites/gohanSSJ3/loose/3.png);
    }75%{
      background-image: url(../images/sprites/gohanSSJ3/loose/4.png);
    }
  }
  
  @keyframes winGohanSSJ3{
    0%{
      background-image: url(../images/sprites/gohanSSJ3/win/1.png);
    }25%{
      background-image: url(../images/sprites/gohanSSJ3/win/2.png);
    }50%{
      background-image: url(../images/sprites/gohanSSJ3/win/3.png);
    }
  }
  
  .Player1.Venom{
    background-image: url(../images/sprites/Venom/venomKamehaDo.png);
    animation: comingVenom 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.Venom.win{
    background-image: url(../images/sprites/Venom/win/1.png);
  }
  
  .Player1.Venom.loose{
    background-image: url(../images/sprites/Venom/loose/1.png);
  }
  
  .Player2.Venom{
    background-image: url(../images/sprites/Venom/venomKamehaDo.png);
    animation: comingVenom 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.Venom.win{
    background-image: url(../images/sprites/Venom/win/1.png);
  }
  
  .Player2.Venom.loose{
    background-image: url(../images/sprites/Venom/loose/1.png);
  }
  
  @keyframes comingVenom {
    0%{
      background-image: url(../images/sprites/Venom/comingInFight/1.png);
    }15%{
      background-image: url(../images/sprites/Venom/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/Venom/comingInFight/3.png);
    }55%{
      background-image: url(../images/sprites/Venom/win/1.png);
    }
  }
  
  .Player1.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaDoingKameha.png);
    animation: comingFrieza 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.Frieza.win{
    background-image: url(../images/sprites/normalFrieza/win/3.png);
    animation: winFrieza 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.Frieza.loose{
    background-image: none;
  }
  
  .Player2.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaDoingKameha.png);
    animation: comingFrieza 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.Frieza.win{
    background-image: url(../images/sprites/normalFrieza/win/3.png);
    animation: winFrieza 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.Frieza.loose{
    background-image: none;
  }
  
  @keyframes comingFrieza {
    0%{
      background-image: url(../images/sprites/normalFrieza/comingInFight/1.png);
    }15%{
      background-image: url(../images/sprites/normalFrieza/comingInFight/2.png);
    }40%{
      background-image: url(../images/sprites/normalFrieza/comingInFight/3.png);
    }55%{
      background-image: url(../images/sprites/normalFrieza/comingInFight/4.png);
    }
  }
  
  @keyframes winFrieza {
    0%{
      background-image: url(../images/sprites/normalFrieza/win/1.png);
    }50%{
      background-image: url(../images/sprites/normalFrieza/win/2.png);
    }100%{
      background-image: url(../images/sprites/normalFrieza/win/3.png);
    }
  }
  
  .Player1.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJDoingKameha.png);
    animation: comingGokuSSJ 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.GokuSSJ.win{
    background-image: url(../images/sprites/GokuSSJ/win/1.png);
  }
  
  .Player1.GokuSSJ.loose{
    background-image: url(../images/sprites/GokuSSJ/loose/3.png);
    animation: looseGokuSSJ 3s;
    animation-timing-function: steps(10);
  }
  
  .Player2.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJDoingKameha.png);
    animation: comingGokuSSJ 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.GokuSSJ.win{
    background-image: url(../images/sprites/GokuSSJ/win/1.png);
  }
  
  .Player2.GokuSSJ.loose{
    background-image: url(../images/sprites/GokuSSJ/loose/3.png);
    animation: looseGokuSSJ 3s;
    animation-timing-function: steps(10);
  }
  
  @keyframes comingGokuSSJ {
    0%{
      background-image: url(../images/sprites/GokuSSJ/comingInFight/1.png);
    }33%{
      background-image: url(../images/sprites/GokuSSJ/comingInFight/2.png);
    }66%{
      background-image: url(../images/sprites/GokuSSJ/comingInFight/3.png);
    }100%{
      background-image: url(../images/sprites/GokuSSJ/comingInFight/4.png);
    }
  }
  
  @keyframes looseGokuSSJ {
    0%{
      background-image: url(../images/sprites/GokuSSJ/loose/1.png);
    }50%{
      background-image: url(../images/sprites/GokuSSJ/loose/2.png);
    }100%{
      background-image: url(../images/sprites/GokuSSJ/loose/3.png);
    }
  }
  
  .Player1.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerKamehaDo.png);
    animation: comingGoldenCoolder 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.GoldenCooler.loose{
    background-image: url(../images/sprites/goldenCooler/loose/1.png);
  }
  
  .Player1.GoldenCooler.win{
    background-image: url(../images/sprites/goldenCooler/win/1.png);
  }
  
  .Player2.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerKamehaDo.png);
    animation: comingGoldenCoolder 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.GoldenCooler.loose{
    background-image: url(../images/sprites/goldenCooler/loose/1.png);
  }
  
  .Player2.GoldenCooler.win{
    background-image: url(../images/sprites/goldenCooler/win/1.png);
  }
  
  @keyframes comingGoldenCoolder {
    0%{
      background-image: url(../images/sprites/goldenCooler/comingInFight/1.png);
    }25%{
      background-image: url(../images/sprites/goldenCooler/comingInFight/2.png);
    }50%{
      background-image: url(../images/sprites/goldenCooler/comingInFight/3.png);
    }75%{
      background-image: url(../images/sprites/goldenCooler/comingInFight/4.png);
    }100%{
      background-image: url(../images/sprites/goldenCooler/comingInFight/5.png);
    }
  }
  
  .Player1.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spidermanKamehaDo.png);
    animation: comingSpiderMan 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.SpiderMan.win{
    background-image: url(../images/sprites/SpiderMan/win/1.png);
  }
  
  .Player1.SpiderMan.loose{
    background-image: url(../images/sprites/SpiderMan/loose/1.png);
  }
  
  .Player2.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spidermanKamehaDo.png);
    animation: comingSpiderMan 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.SpiderMan.win{
    background-image: url(../images/sprites/SpiderMan/win/1.png);
  }
  
  .Player2.SpiderMan.loose{
    background-image: url(../images/sprites/SpiderMan/loose/1.png);
  }
  
  @keyframes comingSpiderMan{
    0%{
      background-image: url(../images/sprites/SpiderMan/ComingInFight/1.png);
    }100%{
      background-image: url(../images/sprites/SpiderMan/ComingInFight/1.png);
    }
  }
  
  .Player1.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeKamehaDo.png);
    animation: comingSasuke 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.Sasuke.win{
    background-image: url(../images/sprites/sasuke/win\ &\ coming/1.png);
  }
  
  .Player1.Sasuke.loose{
    background-image: url(../images/sprites/sasuke/loose/1.png);
  }
  
  .Player2.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeKamehaDo.png);
    animation: comingSasuke 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.Sasuke.win{
    background-image: url(../images/sprites/sasuke/win\ &\ coming/1.png);
  }
  
  .Player2.Sasuke.loose{
    background-image: url(../images/sprites/sasuke/loose/1.png);
  }
  
  @keyframes comingSasuke{
    0%{
      background-image: url(../images/sprites/sasuke/win\ &\ coming/1.png);
    }100%{
      background-image: url(../images/sprites/sasuke/win\ &\ coming/1.png);
    }
  }
  
  .Player1.Itachi{
    background-image: url(../images/sprites/itachi/ItachiKamehaDo.png);
    animation: comingItachi 3s;
    animation-timing-function: steps(1);
  }
  
  .Player1.Itachi.win{
    background-image: url(../images/sprites/itachi/win\ &\ coming/1.png);
  }
  
  .Player1.Itachi.loose{
    background-image: url(../images/sprites/itachi/loose/1.png);
  }
  
  .Player2.Itachi{
    background-image: url(../images/sprites/itachi/ItachiKamehaDo.png);
    animation: comingItachi 3s;
    animation-timing-function: steps(1);
  }
  
  .Player2.Itachi.win{
    background-image: url(../images/sprites/itachi/win\ &\ coming/1.png);
  }
  
  .Player2.Itachi.loose{
    background-image: url(../images/sprites/itachi/loose/1.png);
  }
  
  @keyframes comingItachi{
    0%{
      background-image: url(../images/sprites/itachi/win\ &\ coming/1.png);
    }100%{
      background-image: url(../images/sprites/itachi/win\ &\ coming/1.png);
    }
  }

  .Player2.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuKamehaDo.png);
    animation: comingKidBuu 3s;
    animation-timing-function: steps(1);
  }

  .Player2.KidBuu.win{
    background-image: url(../images/sprites/KidBuu/win/5.png);
    animation: winKidBuu 2s infinite;
    animation-timing-function: steps(1);
  }

  .Player2.KidBuu.loose{
    background-image: url(../images/sprites/KidBuu/loose/2.png);
    animation: looseKidBuu 2s;
    animation-timing-function: steps(1);
  }

  .Player1.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuKamehaDo.png);
    animation: comingKidBuu 3s;
    animation-timing-function: steps(1);
  }

  .Player1.KidBuu.win{
    background-image: url(../images/sprites/KidBuu/win/5.png);
    animation: winKidBuu 2s infinite;
    animation-timing-function: steps(1);
  }

  .Player1.KidBuu.loose{
    background-image: url(../images/sprites/KidBuu/loose/2.png);
    animation: looseKidBuu 2s;
    animation-timing-function: steps(1);
  }

  @keyframes comingKidBuu{
    0%{
      background-image: url(../images/sprites/KidBuu/comingInFight/1.png);
    }25%{
        background-image: url(../images/sprites/KidBuu/comingInFight/2.png);
    }50%{
        background-image: url(../images/sprites/KidBuu/comingInFight/3.png);
    }75%{
        background-image: url(../images/sprites/KidBuu/comingInFight/4.png);
    }100%{
        background-image: url(../images/sprites/KidBuu/comingInFight/5.png);
    }
  }

  @keyframes winKidBuu{
    0%{
        background-image: url(../images/sprites/KidBuu/win/1.png);
    }25%{
        background-image: url(../images/sprites/KidBuu/win/2.png);
    }50%{
        background-image: url(../images/sprites/KidBuu/win/3.png);
    }75%{
        background-image: url(../images/sprites/KidBuu/win/4.png);
    }100%{
        background-image: url(../images/sprites/KidBuu/win/5.png);
    }
  }

  @keyframes looseKidBuu {
    0%{
        background-image: url(../images/sprites/KidBuu/loose/1.png);
    }100%{
        background-image: url(../images/sprites/KidBuu/loose/2.png);
    }
  }

  .Player1.Goku{
    background-image: url(../images/sprites/Goku/GokuDoingKameha.png);
    animation: comingGoku 3s;
    animation-timing-function: steps(1);
  }

  .Player1.Goku.win{
    background-image: url(../images/sprites/Goku/win/1.png);
  }

  .Player1.Goku.loose{
    background-image: url(../images/sprites/Goku/loose/3.png);
    animation: looseGoku 3s;
    animation-timing-function: steps(1);
  }

  .Player2.Goku{
    background-image: url(../images/sprites/Goku/GokuDoingKameha.png);
    animation: comingGoku 3s;
    animation-timing-function: steps(1);
  }

  .Player2.Goku.win{
    background-image: url(../images/sprites/Goku/win/1.png);
  }

  .Player2.Goku.loose{
    background-image: url(../images/sprites/Goku/loose/3.png);
    animation: looseGoku 3s;
    animation-timing-function: steps(1);
  }

  @keyframes comingGoku{
    0%{
      background-image: url(../images/sprites/Goku/comingInFight/1.png);
    }50%{
        background-image: url(../images/sprites/Goku/comingInFight/2.png);
    }100%{
        background-image: url(../images/sprites/Goku/comingInFight/3.png);
    }
  }

  @keyframes looseGoku {
    0%{
        background-image: url(../images/sprites/Goku/loose/1.png);
      }50%{
          background-image: url(../images/sprites/Goku/loose/2.png);
      }100%{
          background-image: url(../images/sprites/Goku/loose/3.png);
      }
  }

  .Player1.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FriezaDoingKameha.png);
    animation: comingFinalCooler 3s;
    animation-timing-function: steps(1);
  }

  .Player1.FinalCooler.win{
    background-image: url(../images/sprites/FinalCooler/win\ &\ coming/1.png);
  }

  .Player1.FinalCooler.loose{
    background-image: url(../images/sprites/FinalCooler/loose/1.png);
  }

  .Player2.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FriezaDoingKameha.png);
    animation: comingFinalCooler 3s;
    animation-timing-function: steps(1);
  }

  .Player2.FinalCooler.win{
    background-image: url(../images/sprites/FinalCooler/win\ &\ coming/1.png);
  }

  .Player2.FinalCooler.loose{
    background-image: url(../images/sprites/FinalCooler/loose/1.png);
  }

  @keyframes comingFinalCooler{
    0%{
        background-image: url(../images/sprites/FinalCooler/win\ &\ coming/1.png);
    }100%{
        background-image: url(../images/sprites/FinalCooler/win\ &\ coming/1.png);
    }
  }

  .Player1.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2DoingKameha.png);
    animation: comingGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  .Player1.GohanSSJ.win{
    background-image: url(../images/sprites/GohanSSJ2/win/4.png);
    animation: winGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  .Player1.GohanSSJ.loose{
    background-image: url(../images/sprites/GohanSSJ2/loose/4.png);
    animation: looseGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  .Player2.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2DoingKameha.png);
    animation: comingGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  .Player2.GohanSSJ.win{
    background-image: url(../images/sprites/GohanSSJ2/win/4.png);
    animation: winGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  .Player2.GohanSSJ.loose{
    background-image: url(../images/sprites/GohanSSJ2/loose/4.png);
    animation: looseGohanSSJ 3s;
    animation-timing-function: steps(1);
  }

  @keyframes comingGohanSSJ{
    0%{
        background-image: url(../images/sprites/GohanSSJ2/comingInFight/1.png);
    }25%{
      background-image: url(../images/sprites/GohanSSJ2/comingInFight/2.png);
    }50%{
      background-image: url(../images/sprites/GohanSSJ2/comingInFight/3.png);
    }75%{
      background-image: url(../images/sprites/GohanSSJ2/comingInFight/4.png);
    }100%{
      background-image: url(../images/sprites/GohanSSJ2/comingInFight/5.png);
    }
  }

  @keyframes winGohanSSJ{
    0%{
      background-image: url(../images/sprites/GohanSSJ2/win/1.png);
    }33%{
      background-image: url(../images/sprites/GohanSSJ2/win/2.png);
    }66%{
      background-image: url(../images/sprites/GohanSSJ2/win/3.png);
    }100%{
      background-image: url(../images/sprites/GohanSSJ2/win/4.png);
    }
  }

  @keyframes looseGohanSSJ{
    0%{
      background-image: url(../images/sprites/GohanSSJ2/loose/1.png);
    }33%{
      background-image: url(../images/sprites/GohanSSJ2/loose/2.png);
    }66%{
      background-image: url(../images/sprites/GohanSSJ2/loose/3.png);
    }100%{
      background-image: url(../images/sprites/GohanSSJ2/loose/4.png);
    }
  }

  .Player1.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaDoingKameha.png);
    animation: comingVegeta 3s;
    animation-timing-function: steps(1);
  }

  .Player1.Vegeta.win{
    background-image: url(../images/sprites/Vegeta/win/1.png);
  }

  .Player1.Vegeta.loose{
    background-image: url(../images/sprites/Vegeta/loose/1.png);
  }

  .Player2.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaDoingKameha.png);
    animation: comingVegeta 3s;
    animation-timing-function: steps(1);
  }

  .Player2.Vegeta.win{
    background-image: url(../images/sprites/Vegeta/win/1.png);
  }

  .Player2.Vegeta.loose{
    background-image: url(../images/sprites/Vegeta/loose/1.png);
  }

  @keyframes comingVegeta{
    0%{
        background-image: url(../images/sprites/Vegeta/comingInFight/1.png);
    }50%{
      background-image: url(../images/sprites/Vegeta/comingInFight/2.png);
    }100%{
      background-image: url(../images/sprites/Vegeta/comingInFight/3.png);
    }
  }
  
  .Player1.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaDoingKameha.png);
    animation: comingFirstFrieza 3s;
    animation-timing-function: steps(1);
  }

  .Player1.FirstFrieza.win{
    background-image: url(../images/sprites/FriezaFirstForm/win/1.png);
  }

  .Player1.FirstFrieza.loose{
    background-image: url(../images/sprites/FriezaFirstForm/loose/1.png);
  }

  .Player2.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaDoingKameha.png);
    animation: comingFirstFrieza 3s;
    animation-timing-function: steps(1);
  }

  .Player2.FirstFrieza.win{
    background-image: url(../images/sprites/FriezaFirstForm/win/1.png);
  }

  .Player2.FirstFrieza.loose{
    background-image: url(../images/sprites/FriezaFirstForm/loose/1.png);
  }

  @keyframes comingFirstFrieza{
    0%{
        background-image: url(../images/sprites/FriezaFirstForm/coming/1.png);
    }33%{
      background-image: url(../images/sprites/FriezaFirstForm/coming/2.png);
    }66%{
      background-image: url(../images/sprites/FriezaFirstForm/coming/3.png);
    }100%{
      background-image: url(../images/sprites/FriezaFirstForm/coming/4.png);
    }
  }

  .Player1.Buumasu{
    background-image: url(../images/sprites/Buumasu/BuumasuDoingKameha.png);
    animation: comingBuumasu 3s;
    animation-timing-function: steps(1);
  }

  .Player1.Buumasu.win{
    background-image: url(../images/sprites/Buumasu/win/3.png);
    animation: winBuumasu 3s;
    animation-timing-function: steps(1);
  }

  .Player1.Buumasu.loose{
    background-image: url(../images/sprites/Buumasu/loose/1.png);
  }

  .Player2.Buumasu{
    background-image: url(../images/sprites/Buumasu/BuumasuDoingKameha.png);
    animation: comingBuumasu 3s;
    animation-timing-function: steps(1);
  }

  .Player2.Buumasu.win{
    background-image: url(../images/sprites/Buumasu/win/3.png);
    animation: winBuumasu 3s;
    animation-timing-function: steps(1);
  }

  .Player2.Buumasu.loose{
    background-image: url(../images/sprites/Buumasu/loose/1.png);
  }

  @keyframes comingBuumasu{
    0%{
        background-image: url(../images/sprites/Buumasu/comingInFight/1.png);
    }50%{
      background-image: url(../images/sprites/Buumasu/comingInFight/2.png);
    }100%{
      background-image: url(../images/sprites/Buumasu/comingInFight/3.png);
    }
  }

  @keyframes winBuumasu{
    0%{
        background-image: url(../images/sprites/Buumasu/win/1.png);
    }50%{
      background-image: url(../images/sprites/Buumasu/win/2.png);
    }100%{
      background-image: url(../images/sprites/Buumasu/win/3.png);
    }
  }

  .Player1.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaDoingKameha.png);
    animation: comingMajinV 3s;
    animation-timing-function: steps(1);
  }

  .Player1.MajinVegeta.loose{
    background-image: url(../images/sprites/MajinVegeta/loose\ &\ win/1.png);
  }

  .Player1.MajinVegeta.win{
    background-image: url(../images/sprites/MajinVegeta/loose\ &\ win/1.png);
  }

  .Player2.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaDoingKameha.png);
    animation: comingMajinV 3s;
    animation-timing-function: steps(1);
  }

  .Player2.MajinVegeta.loose{
    background-image: url(../images/sprites/MajinVegeta/loose\ &\ win/1.png);
  }

  .Player2.MajinVegeta.win{
    background-image: url(../images/sprites/MajinVegeta/loose\ &\ win/1.png);
  }

  @keyframes comingMajinV{
    0%{
        background-image: url(../images/sprites/MajinVegeta/comingInFight/1.png);
    }25%{
      background-image: url(../images/sprites/MajinVegeta/comingInFight/2.png);
    }50%{
      background-image: url(../images/sprites/MajinVegeta/comingInFight/3.png);
    }75%{
      background-image: url(../images/sprites/MajinVegeta/comingInFight/4.png);
    }100%{
      background-image: url(../images/sprites/MajinVegeta/comingInFight/5.png);
    }
  }

  .Player1.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroDoingKameha.png);
    animation: comingDrGero 3s;
    animation-timing-function: steps(1);
  }

  .Player1.DrGero.win{
    background-image: url(../images/sprites/Dr.Gero/coming\ &\ win/1.png);
  }

  .Player1.DrGero.loose{
    background-image: url(../images/sprites/Dr.Gero/loose/1.png);
  }

  .Player2.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroDoingKameha.png);
    animation: comingDrGero 3s;
    animation-timing-function: steps(1);
  }

  .Player2.DrGero.win{
    background-image: url(../images/sprites/Dr.Gero/coming\ &\ win/1.png);
  }

  .Player2.DrGero.loose{
    background-image: url(../images/sprites/Dr.Gero/loose/1.png);
  }

  @keyframes comingDrGero{
    0%{
        background-image: url(../images/sprites/Dr.Gero/coming\ &\ win/1.png);
    }100%{
      background-image: url(../images/sprites/Dr.Gero/coming\ &\ win/1.png);
    }
  }

  /***************PLAYERSET********************/

  /***************PORTRAITSET********************/

.portraitP1.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaportrait.png);
  }
  
  .portraitP2.Gogeta{
    background-image: url(../images/sprites/gogetablue/gogetaportrait.png);
  }
  
  .portraitP1.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  }
  
  .portraitP2.VegitoSSJ{
    background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  }
  
  .portraitP1.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3portrait.png);
  }
  
  .portraitP2.GokuSSJ3{
    background-image: url(../images/sprites/gokuSSJ3/gokuSSJ3portrait.png);
  }
  
  .portraitP1.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaPortrait.png);
  }
  
  .portraitP2.GoldenFrieza{
    background-image: url(../images/sprites/goldenFrieza/goldenFriezaPortrait.png);
  }
  
  .portraitP1.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuPortrait.png);
  }
  
  .portraitP2.BlackGoku{
    background-image: url(../images/sprites/blackgoku/blackGokuPortrait.png);
  }
  
  .portraitP1.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksPortrait.png);
  }
  
  .portraitP2.Buutenks{
    background-image: url(../images/sprites/buutenks/buutenksPortrait.png);
  }
  
  .portraitP1.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3portrait.png);
  }
  
  .portraitP2.GohanSSJ3{
    background-image: url(../images/sprites/gohanSSJ3/gohanSSJ3portrait.png);
  }
  
  .portraitP1.Venom{
    background-image: url(../images/sprites/Venom/venomPortrait.png);
  }
  
  .portraitP2.Venom{
    background-image: url(../images/sprites/Venom/venomPortrait.png);
  }
  
  .portraitP1.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaPortrait.png);
  }
  
  .portraitP2.Frieza{
    background-image: url(../images/sprites/normalFrieza/FriezaPortrait.png);
  }
  
  .portraitP1.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJPortrait.png);
  }
  
  .portraitP2.GokuSSJ{
    background-image: url(../images/sprites/GokuSSJ/GokuSSJPortrait.png);
  }
  
  .portraitP1.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerportrait.png);
  }
  
  .portraitP2.GoldenCooler{
    background-image: url(../images/sprites/goldenCooler/goldenCoolerportrait.png);
  }
  
  .portraitP1.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spiderManPortrait.png);
  }
  
  .portraitP2.SpiderMan{
    background-image: url(../images/sprites/SpiderMan/spiderManPortrait.png);
  }
  
  .portraitP1.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeportrait.png);
  }
  
  .portraitP2.Sasuke{
    background-image: url(../images/sprites/sasuke/sasukeportrait.png);
  }
  
  .portraitP1.Itachi{
    background-image: url(../images/sprites/itachi/itachiportrait.png);
  }
  
  .portraitP2.Itachi{
    background-image: url(../images/sprites/itachi/itachiportrait.png);
  }

  .portraitP1.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuPortrait.png);
  }

  .portraitP2.KidBuu{
    background-image: url(../images/sprites/KidBuu/KidBuuPortrait.png);
  }

  .portraitP1.Goku{
    background-image: url(../images/sprites/Goku/GokuPortrait.png);
  }

  .portraitP2.Goku{
    background-image: url(../images/sprites/Goku/GokuPortrait.png);
  }

  .portraitP1.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FinalCoolerPortrait.png);
  }

  .portraitP2.FinalCooler{
    background-image: url(../images/sprites/FinalCooler/FinalCoolerPortrait.png);
  }

  .portraitP1.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2Coolerportrait.png);
  }

  .portraitP2.GohanSSJ{
    background-image: url(../images/sprites/GohanSSJ2/gohanSSJ2Coolerportrait.png);
  }

  .portraitP1.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaPortrait.png);
  }

  .portraitP2.Vegeta{
    background-image: url(../images/sprites/Vegeta/VegetaPortrait.png);
  }

  .portraitP1.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaPortrait.png);
  }

  .portraitP2.FirstFrieza{
    background-image: url(../images/sprites/FriezaFirstForm/FirstFriezaPortrait.png);
  }

  .portraitP1.Buumasu{
    background-image: url(../images/sprites/Buumasu/buumasuCoolerportrait.png);
  }

  .portraitP2.Buumasu{
    background-image: url(../images/sprites/Buumasu/buumasuCoolerportrait.png);
  }

  .portraitP1.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaPortrait.png);
  }

  .portraitP2.MajinVegeta{
    background-image: url(../images/sprites/MajinVegeta/VegetaPortrait.png);
  }

  .portraitP1.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroPortrait.png);
  }

  .portraitP2.DrGero{
    background-image: url(../images/sprites/Dr.Gero/DrGeroPortrait.png);
  }
  
  
  /******************PORTRAITSET*****************/

  .subPerso.Gogeta{
    background-image: url(../images/slotCharacter/gogetaSlot.png);
  }
  
  .subPerso.VegitoSSJ{
    background-image: url(../images/slotCharacter/vegetoSlot.png);
  }
  
  .subPerso.GokuSSJ3{
    background-image: url(../images/slotCharacter/gokuSSJ3Portrait.png);
  }
  
  .subPerso.GoldenFrieza{
    background-image: url(../images/slotCharacter/goldenFriezaSlot.png);
  }
  
  .subPerso.BlackGoku{
    background-image: url(../images/slotCharacter/gokuSlot.png);
  }
  
  .subPerso.Buutenks{
    background-image: url(../images/slotCharacter/buutenksSlot.png);
  }
  
  .subPerso.GohanSSJ3{
    background-image: url(../images/slotCharacter/gohanSSJ3Portrait.png);
  }
  
  .subPerso.Venom{
    background-image: url(../images/slotCharacter/venomSlot.png);
  }
  
  .subPerso.Frieza{
    background-image: url(../images/slotCharacter/FriezaSlot.png);
  }
  
  .subPerso.GokuSSJ{
    background-image: url(../images/slotCharacter/gokuSSJSlot.png);
  }
  
  .subPerso.GoldenCooler{
    background-image: url(../images/slotCharacter/goldenCoolerSlot.png);
  }
  
  .subPerso.SpiderMan{
    background-image: url(../images/slotCharacter/spiderManPortrait.png);
  }
  
  .subPerso.Sasuke{
    background-image: url(../images/slotCharacter/sasukeSlot.png);
  }
  
  .subPerso.Itachi{
    background-image: url(../images/slotCharacter/Itachiportrait.png);
  }

  .subPerso.KidBuu{
    background-image: url(../images/slotCharacter/KidBuuSlot.png);
  }

  .subPerso.Goku{
    background-image: url(../images/slotCharacter/gokuPortrait.png);
  }

  .subPerso.FinalCooler{
    background-image: url(../images/slotCharacter/FinalCoolerPortrait.png);
  }

  .subPerso.GohanSSJ{
    background-image: url(../images/slotCharacter/gohanSSJPortrait.png);
  }

  .subPerso.Vegeta{
    background-image: url(../images/slotCharacter/VegetaSlot.png);
  }
  
  .subPerso.FirstFrieza{
    background-image: url(../images/slotCharacter/FriezaFirstSlot.png);
  }

  .subPerso.Buumasu{
    background-image: url(../images/slotCharacter/BuumasuSlot.png);
  }

  .subPerso.MajinVegeta{
    background-image: url(../images/slotCharacter/majinVegetaSlot.png);
  }

  .subPerso.DrGero{
    background-image: url(../images/slotCharacter/DrGeroSlot.png);
  }
