@font-face 
{
  font-family: BoldFont;
  src: url("../fonts/boldfont.ttf");
}

*{
    margin: 0;
    font-family: BoldFont;
    image-rendering: pixelated;
}

body{
  background-image: url(../images/background/background\ main.png);
  background-size: cover;
  background-repeat: none;
  overflow:hidden;
}

#panelPerso{
  display: none;
  background-image: url(../images/background/background\ main.png);
  background-size: cover;
  background-repeat: none;
  overflow:hidden;
}

/**********************************************************/
/***************************CHOOSEPERSO*******************************/
/**********************************************************/

.returnMainMenuButton{
  position: absolute;
  left: 2%;
  top: 2%;
  width: 10vh;
  height: 10vh;
  background-image: url(../images/ui/returnFlech.png);
  background-size: cover;
  cursor: pointer;
  transition: all 1s;
}

.returnMainMenuButton:hover{
  transform: scale(1.25);
  transition: all 1s;
}

.bigTxT{
  background-image: url(../images/text/ChooseFighter.png);
  background-size: cover;
  width: 50vh;
  height: 25vh;
  left: 37.5%;
  position: absolute;
  top: 0%;
}

#selectedPlayer1{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 30vh;
  height: 30vh;
  background-size: cover;
  z-index: 0;
  transform: rotateY(180deg);
}

#selectedPlayer2{
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 30vh;
  height: 30vh;
  background-size: cover;
  z-index: 0;
}


#choosePerso{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  width: 100%;
  height: 60%;
  top:22.5%;
  transition: all 1s;
}

.perso{
  width: 9vh;
  height: 9vh;
  margin: 1vh;
  cursor: pointer;
  background-size: cover;
  transition: all 1s;
}

.perso:hover{
  transition: all 1s;
  transform: scale(1.25);
  z-index: 10;
}

.subPerso{
  background-size: cover;
  transition: all 1s;
  cursor: pointer;
  display: none;
}

.subPerso.exist{
  display: initial;
  width: 8vh;
  height: 8vh;
  margin: 1vh;
  transition: all 1s;
  animation: SpawnSub 1s;
}

@keyframes SpawnSub{
  0%{
    transform: translateX(-2.5vh);
    opacity: 0%;
  }100%{
    transform: translateX(0vh);
    opacity: 100%;
  }
}

.subPerso:hover{
  transition: all 1s;
  transform: scale(1.25);
  z-index: 0;
}

.FlechePerso{
  background-size: cover;
  background-image: url(../images/ui/FlechMore.png);
  margin-left: 6.5vh;
  margin-top: 6.5vh;
  z-index: 1;
  width: 3vh;
  height: 3vh;
}

.FlechePerso.active{
  transform: rotateY(180deg);
  transition: all 0.5s;
}

.buttonStartGame{
  background-image: url(../images/ui/start\ game.png);
  background-size: cover;
  width: 25vw;
  height: 5vw;
  position: absolute;
  left: 37.5vw;
  bottom: 3%;
  cursor: pointer;
}

/**********************************************************/
/***************************Game*******************************/
/**********************************************************/

.centering{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  perspective: 1000px;
}

#txtStart{
  color: white;
  text-shadow:  0px 0.5vh 0px rgba(255, 255, 255, 0.3);
  font-size: 15vh;
  animation: startinText 3.5s;
}

@keyframes startinText{
  from{
    transform: scale(2) rotateX(80deg);
  }to{
    transform: scale(1);
  }
}

#gameTable{
  display: none;
}

.gameBG{
  top: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(../images/ui/bgfight.png);
  background-size: cover;
  background-repeat: none;
  overflow:hidden;
}

.Player1{
  position: absolute;
  left:0;
  top:39%;
  width: 17vh;
  height: 17vh;
  background-size: cover;
  background-image: url(../images/sprites/gogetablue/gogetaKamehaDo.png);
}

#auraP1{
  width: 34vh;
  height: 34vh;
  position: absolute;
  left:0%;
  top:20%;
  background-size: cover;
  z-index: -2;
  transform: rotateY(180deg);
}

#auraP1Starting{
  width: 34vh;
  height: 34vh;
  position: absolute;
  left:0%;
  top:20%;
  background-size: cover;
  z-index: -1;
  transform: rotateY(180deg);
}

.Player2{
  position: absolute;
  right: 0;
  top:39%;
  width: 17vh;
  height: 17vh;
  transform: rotateY(180deg);
  background-size: cover;
  background-image: url(../images/sprites/gogetasayan/vegetoKamehaDo.png);
}

#auraP2{
  width: 34vh;
  height: 34vh;
  position: absolute;
  right:0%;
  background-size: cover;
  top:20%;
  z-index: -2;
}

#auraP2Starting{
  width: 34vh;
  height: 34vh;
  position: absolute;
  right:0%;
  background-size: cover;
  top:20%;
  z-index: -1;
}

/***************AURASET********************/

#auraP1.GokuSSJ3{
  animation: auraSSJ1 1s infinite;
  animation-delay: 3s;
}

#auraP2.GokuSSJ3{
  animation: auraSSJ1 1s infinite;
  animation-delay: 3s;
}

@keyframes auraSSJ1 {
  0%{
    background-image: url(../images/sprites/aura/ssj1.png);
  }49%{
    background-image: url(../images/sprites/aura/ssj1.png);
  }50%{
    background-image: url(../images/sprites/aura/ssj1\(2\).png);
  }100%{
    background-image: url(../images/sprites/aura/ssj1\(2\).png);
  }
}

#auraP1.BlackGoku{
  animation: auraBlackGoku 1s infinite;
  animation-delay: 3s;
}

#auraP2.BlackGoku{
  animation: auraBlackGoku 1s infinite;
  animation-delay: 3s;
}

@keyframes auraBlackGoku {
  0%{
    background-image: url(../images/sprites/blackgoku/aura/blackgokuAura1.png);
  }49%{
    background-image: url(../images/sprites/blackgoku/aura/blackgokuAura1.png);
  }50%{
    background-image: url(../images/sprites/blackgoku/aura/blackgokuAura2.png);
  }100%{
    background-image: url(../images/sprites/blackgoku/aura/blackgokuAura2.png);
  }
}

/***************AURASET********************/

/***************STARTINGAURASET********************/

#auraP1Starting.GokuSSJ3{
  animation : startingAuraGokuSSJ3 3s;
}

#auraP2Starting.GokuSSJ3{
  animation : startingAuraGokuSSJ3 3s;
}

@keyframes startingAuraGokuSSJ3 {
  0%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/1.png);
  }19%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/1.png);
  }20%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/2.png);
  }39%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/2.png);
  }40%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/3.png);
  }59%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/3.png);
  }60%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/4.png);
  }79%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/4.png);
  }80%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/5.png);
  }100%{
    background-image: url(../images/sprites/gokuSSJ3/startingAura/5.png);
  }
}

#auraP1Starting.BlackGoku{
  animation : startingAuraBlackGoku 3s;
}

#auraP2Starting.BlackGoku{
  animation : startingAuraBlackGoku 3s;
}

@keyframes startingAuraBlackGoku {
  0%{
    background-image: url(../images/sprites/blackgoku/auraStarting/1.png);
  }19%{
    background-image: url(../images/sprites/blackgoku/auraStarting/1.png);
  }20%{
    background-image: url(../images/sprites/blackgoku/auraStarting/2.png);
  }39%{
    background-image: url(../images/sprites/blackgoku/auraStarting/2.png);
  }40%{
    background-image: url(../images/sprites/blackgoku/auraStarting/3.png);
  }59%{
    background-image: url(../images/sprites/blackgoku/auraStarting/3.png);
  }60%{
    background-image: none;
  }100%{
    background-image: none;
  }
}

/***************STARTINGAURASET********************/

/*KamehaP1*/

.KamehaPlayer1{
  position: absolute;
  top: 32%;
  width: 43.75%;
  transition: all 0s;
  height: 30%;
  left: 12.5vh;
  display: flex;
}

.startPlayer1{
  background-image:url(../images/sprites/gogetablue/gogetaStartKameha.png);
  background-size: cover;
  width: 40vh;
  height: 100%;
}

.midPlayer1{
  background-image:url(../images/sprites/gogetablue/gogetaMidKameha.png);
  background-size: contain;
  
  width: 70%;
  height: 100%;
}

.endPlayer1{
  width: 25vh;
  height: 100%;
  background-image:url(../images/sprites/gogetablue/gogetaEnKameha.png);
  background-size: cover;
  background-position: right;
  animation: endKameha 1s infinite;
  transition: all 0s;
}

/*KamehaP1*/

/*KamehaP2*/

.KamehaPlayer2{
  position: absolute;
  top: 32%;
  width: 43.75%;
  height: 30%;
  transition: all 0s;
  right: 12.5vh;
  display: flex;
  transform: rotate(180deg);
}

.startPlayer2{
  background-image:url(../images/sprites/gogetablue/gogetaStartKameha.png);
  background-size: cover;
  width: 40vh;
  height: 100%;
}

.midPlayer2{
  background-image:url(../images/sprites/gogetablue/gogetaMidKameha.png);
  background-size: contain;
  
  width: 70%;
  height: 100%;
}

.endPlayer2{
  width: 25vh;
  height: 100%;
  background-size: cover;
  animation: endKameha 1s infinite;
  background-position: right;
}

/*KamehaP2*/

/*AnimKameha*/

@keyframes endKameha {
  0%{
    background-image:url(../images/sprites/gogetablue/gogetaEnKameha.png);
  }49%{
    background-image:url(../images/sprites/gogetablue/gogetaEnKameha.png);
  }50%{
    background-image:url(../images/sprites/gogetablue/gogetaEnKameha2.png);
  }100%{
    background-image:url(../images/sprites/gogetablue/gogetaEnKameha2.png);
  }

}

/*AnimKameha*/

/***************KAMEHASET********************/

/* ! region kamehaBlackGoku */

/*KamehaP1*/

.KamehaPlayer1.BlackGoku .startPlayer1{
  background-image:url(../images/sprites/kameha/purpleStartKameha.png);
}

.KamehaPlayer1.BlackGoku .midPlayer1{
  background-image:url(../images/sprites/kameha/purpleMidKameha.png);
}

.KamehaPlayer1.BlackGoku .endPlayer1{
  animation: endKamehaPurple 1s infinite;
}

/*KamehaP1*/

/*KamehaP2*/

.KamehaPlayer2.BlackGoku .startPlayer2{
  background-image:url(../images/sprites/kameha/purpleStartKameha.png);
}

.KamehaPlayer2.BlackGoku .midPlayer2{
  background-image:url(../images/sprites/kameha/purpleMidKameha.png);
}

.KamehaPlayer2.BlackGoku .endPlayer2{
  animation: endKamehaPurple 1s infinite;
}

/*KamehaP2*/

@keyframes endKamehaPurple {
  0%{
    background-image:url(../images/sprites/kameha/purpleEndKameha.png);
  }49%{
    background-image:url(../images/sprites/kameha/purpleEndKameha.png);
  }50%{
    background-image:url(../images/sprites/kameha/purpleEndKameha2.png);
  }100%{
    background-image:url(../images/sprites/kameha/purpleEndKameha2.png);
  }

}

/* ! endregion kamehaBlackGoku */

/* ! region Buutenks */

/*KamehaP1*/

.KamehaPlayer1.Buutenks .startPlayer1{
  background-image:url(../images/sprites/kameha/pinkStartKameha.png);
}

.KamehaPlayer1.Buutenks .midPlayer1{
  background-image:url(../images/sprites/kameha/pinkMidKameha.png);
}

.KamehaPlayer1.Buutenks .endPlayer1{
  animation: endKamehaPink 1s infinite;
}

/*KamehaP1*/

/*KamehaP2*/

.KamehaPlayer2.Buutenks .startPlayer2{
  background-image:url(../images/sprites/kameha/pinkStartKameha.png);
}

.KamehaPlayer2.Buutenks .midPlayer2{
  background-image:url(../images/sprites/kameha/pinkMidKameha.png);
}

.KamehaPlayer2.Buutenks .endPlayer2{
  animation: endKamehaPink 1s infinite;
}

/*KamehaP2*/

@keyframes endKamehaPink {
  0%{
    background-image:url(../images/sprites/kameha/pinkEndKameha.png);
  }49%{
    background-image:url(../images/sprites/kameha/pinkEndKameha.png);
  }50%{
    background-image:url(../images/sprites/kameha/pinkEndKameha2.png);
  }100%{
    background-image:url(../images/sprites/kameha/pinkEndKameha2.png);
  }

}

/* ! endregion Buutenks */

/* ! region Spiderman */

/*KamehaP1*/

.KamehaPlayer1.SpiderMan .startPlayer1{
  background-image:url(../images/sprites/kameha/spiderStartKameha.png);
}

.KamehaPlayer1.SpiderMan .midPlayer1{
  background-image:url(../images/sprites/kameha/spiderMidKameha.png);
}

.KamehaPlayer1.SpiderMan .endPlayer1{
  background-image: url(../images/sprites/kameha/spiderEndKameha.png);
  animation: none;
}

/*KamehaP1*/

/*KamehaP2*/

.KamehaPlayer2.SpiderMan .startPlayer2{
  background-image:url(../images/sprites/kameha/spiderStartKameha.png);
}

.KamehaPlayer2.SpiderMan .midPlayer2{
  background-image:url(../images/sprites/kameha/spiderMidKameha.png);
}

.KamehaPlayer2.SpiderMan .endPlayer2{
  background-image: url(../images/sprites/kameha/spiderEndKameha.png);
  animation: none;
}

/*KamehaP2*/


/* ! endregion Spiderman */

/* ! region Spiderman */

/*KamehaP1*/

.KamehaPlayer1.Venom .startPlayer1{
  background-image:url(../images/sprites/kameha/slimeStartKameha.png);
}

.KamehaPlayer1.Venom .midPlayer1{
  background-image:url(../images/sprites/kameha/slimeMidKameha.png);
}

.KamehaPlayer1.Venom .endPlayer1{
  background-image: url(../images/sprites/kameha/slimeEndKameha.png);
  animation: none;
}

/*KamehaP1*/

/*KamehaP2*/

.KamehaPlayer2.Venom .startPlayer2{
  background-image:url(../images/sprites/kameha/slimeStartKameha.png);
}

.KamehaPlayer2.Venom .midPlayer2{
  background-image:url(../images/sprites/kameha/slimeMidKameha.png);
}

.KamehaPlayer2.Venom .endPlayer2{
  background-image: url(../images/sprites/kameha/slimeEndKameha.png);
  animation: none;
}

/*KamehaP2*/


/* ! endregion Spiderman */

/***************KAMEHASET********************/

.floorP1{
  background-image: url(../images/background/platformP1.png);
  position: absolute;
  background-size: cover;
  bottom: 0%;
  width: 35%;
  height: 60%;
  left: -19%;
  z-index: -10;
}

.floorP2{
  background-image: url(../images/background/platformP2.png);
  position: absolute;
  background-size: cover;
  bottom: -2%;
  width: 35%;
  height: 65%;
  right:-19%;
  z-index: -10;
}


.casePlayer1{
  width: 32vh;
  height: 3.99vh;
  background-size: cover;
  background-image: url(../images/case/case.png);
  position: absolute;
  bottom: 5%;
  left: 45vh;
}

.casePlayer2{
  transform: rotateY(180deg);
  width: 32vh;
  height: 4vh;
  background-size: cover;
  background-image: url(../images/case/case.png);
  position: absolute;
  bottom: 5%;
  right: 45vh;
}

#fillCase1{
  height: 100%;
  width: 0%;
  background-color: rgba(0, 132, 255, 0.486);
}

#fillCase2{
  background-color: rgba(255, 0, 0, 0.603);
  height: 100%;
  width: 0%;
}

#player1txt{
  position: absolute;
  bottom: 13%;
  left: 47vh;
  font-size: 4vh;
  color: white;
}

#player2txt{
  position: absolute;
  bottom: 13%;
  right: 47vh;
  font-size: 4vh;
  color: white;
}

.portraitP1{
  background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 30vh;
  height: 30vh;
  background-size: cover;
  z-index: 0;
  transform: rotateY(180deg);
}

.portraitP2{
  background-image: url(../images/sprites/gogetasayan/vegetoPortrait.png);
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 30vh;
  height: 30vh;
  background-size: cover;
  z-index: 0;
}

/**********************************************************/
/***************************Game*******************************/
/**********************************************************/

/**********************************************************/
/***************************MenuRestart*******************************/
/**********************************************************/

.menuRestart{
  top:0%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.295);
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0%;
  transition: all 1s;
}

.flexCenterButton{
  display: flex;
  justify-content: center;
  margin-top: 45vh;
}

.buttonGoToPanelPerso{
  width: 50vh;
  height: 10vh;
  cursor: pointer;
  background-size: cover;
  background-image: url(../images/ui/mainmenubutton.png);
}

/**********************************************************/
/***************************MenuRestart*******************************/
/**********************************************************/

/**********************************************************/
/***************************MainMenu*******************************/
/**********************************************************/

.gradient{
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-image: url(../images/ui/gradient.png);
  background-size: cover;
  opacity: 65%;
  mix-blend-mode: color;
}

.mainTitle{
  position: absolute;
  top:0%;
  width: 35%;
  height: 40%;
  left:60%;
  background-image: url(../images/title/dragonballomegatapper.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  animation: animTitle 2.5s;
}

@keyframes animTitle{
  0%{
    transform: translateY(-25vh);
  }60%{
    transform: translateY(0px);
  }
}

.centeringMainMenu{
  position: absolute;
  top:0%;
  width: 90%;
  height: 100%;
  margin-left: 2vh;
  margin-top: 6.5vh;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  transition: all 1s;
}

.buttonNormal{
  margin: 0.25vh;
  width: 35vh;
  height: 7vh;
  cursor: pointer;
  background-size: cover;
  transition: all 1s;
  z-index: 1;
}


.buttonNormal:hover{
  transition: all 1s;
  transform: translateX(1vh);
  filter: drop-shadow(-0.5vh 0px 0.5vh rgba(0, 0, 0, 0.7));
  margin: 0.25vh;
  width: 35vh;
  height: 7vh;
  cursor: pointer;
  background-size: cover;
  transition: all 1s;
  z-index: 1;
}

.underFightButton{
  margin: 0.5vh;
  margin-left: 5vh;
  width: 20vh;
  transition: all 1s;
  height: 4vh;
  cursor: pointer;
  background-size: cover;
  display: none;
}

.underFightButton:hover{
  transition: all 1s;
  transform: translateX(1vh);
}

.underFightButton.exist{
  display: initial;
  transition: all 1s;
  animation: appearButton 1s;
  z-index: 0;
}

#agIA{
  background-image: url(../images/ui/vs\ ia\ button.png);
  cursor:pointer;
}

#agPvP{
  background-image: url(../images/ui/1vs1.png);
  cursor:pointer;
}

@keyframes appearButton {
  from{
    display: none;
    opacity: 0%;
    transform: translateY(-15vh);
  }to{
    display: initial;
    opacity: 100%;
    transform: translateY(0vh);
  }
}

#gatchaButton{
  background-image: url(../images/ui/SummonButton.png);
  transition: all 1s;
}

#campaignButton{
  background-image: url(../images/ui/campaign\ button.png);
  transition: all 1s;
}

#fightButton{
  background-image: url(../images/ui/1v1button.png);
  transition: all 1s;
}

#exitButton{
  background-image: url(../images/ui/exitButton.png);
  transition: all 1s;
}

.particle{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url(../images/ui/backgroundFlare.png);
  mix-blend-mode:screen;
  background-size: cover;
  opacity: 100%;
}

.particleAnim{
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  background-image: url(../images/ui/particleEZ.png);
  mix-blend-mode:screen;
  background-size: cover;
  opacity: 100%;
  animation: animParticle 12s infinite;
}

.BGFORPAINT{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  perspective: 900px;
}

.bgOverMain{
  position: absolute;
  top: -10%;
  width: 120%;
  height: 120%;
  left:-10%;
  background-image: url(../images/ui/bgover.png);
  background-size: cover;
}

#p1pa{
  animation-delay: 2.2s;
}
#p2pa{
  animation-delay: 3.9s;
}
#p3pa{
  animation-delay: 6s;
}
#p4pa{
  animation-delay: 8s;
}

@keyframes animParticle {
  0%{
    
  }100%{
    transform: translateY(250%);
  }
}

/**********************************************************/
/***************************MainMenu*******************************/
/**********************************************************/

/**********************************************************/
/***************************CAMPAIGNMENU*******************************/
/**********************************************************/

.campaignMenu{
  display: none;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

/**********************************************************/
/***************************CAMPAIGNMENU*******************************/
/**********************************************************/

/**********************************************************/
/***************************CAMPAIGNLIST*******************************/
/**********************************************************/

.campaignList{
  display: flex;
  position: absolute;
  top:10%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.campaignSlider{
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
  width: 60vh;
  height: 12.45vh;
  background-image: url(../images/ui/dragonballZCampaignButton.png);
  background-size: cover;
}

#campaignSlide2{
  background-image: url(../images/ui/BreakingTheMultiverseCampaignButton.png);
}

.campaign{
  cursor: pointer;
  background-size: cover;
  display: none;
  margin: 0.75vh;
  width: 50vh;
  height: 10.45vh;
  background-color: aliceblue;
  z-index: 0;
}

.campaign.exist{
  display:block;
  animation: appearButton 1s;
  cursor: pointer;
}

#campaign1{
  background-image: url(../images/ui/WarOnNamekCampaignButton.png);
}

#campaign2{
  background-image: url(../images/ui/TheEndOfTheWorldCampaignButton.png);
}

#campaign2.locked{
  background-image: url(../images/ui/TheEndOfTheWorldLockedButton.png);
}

#campaign3{
  background-image: url(../images/ui/TheAveningOfGoldenCoolerCampaignButton.png);
}

#campaign3.locked{
  background-image: url(../images/ui/TheAveningOfGoldenCoolerLockedCampaignButton.png);
}

#campaign4{
  background-image: url(../images/ui/FriezaIsBackCampaignButton.png);
}

#campaign4.locked{
  background-image: url(../images/ui/FriezaIsBackLockedCampaignButton.png);
}

#campaign5{
  background-image: url(../images/ui/WhoTheFuckCampaignButton.png);
}

#campaign5.locked{
  background-image: url(../images/ui/WhoTheFuckLockedCampaignButton.png);
}

#campaignBTM1{
  background-image: url(../images/ui/WhatIsGoingOnCampaignButton.png);
  height: 10.25vh;
}

#campaignBTM2{
  background-image: url(../images/ui/RevengeTimeCampaignButton.png);
  height: 10.25vh;
}

#campaignBTM2.locked{
  background-image: url(../images/ui/RevengeTimeLockedCampaignButton.png);
  height: 10.25vh;
}

.campaignMenu{
  overflow-y: auto;
}

.ranking{
  height: 10vh;
  width: 10vh;
  background-image: url(../images/ui/D-Tier.png);
  background-size: cover;
  position: relative;
  bottom: -3.5vh;
  margin-left: 44vh;
}

.ranking.D{
  background-image: url(../images/ui/D-Tier.png);
}

.ranking.C{
  background-image: url(../images/ui/C-Tier.png);
}

.ranking.B{
  background-image: url(../images/ui/B-Tier.png);
}

.ranking.A{
  background-image: url(../images/ui/A-Tier.png);
}

.ranking.S{
  background-image: url(../images/ui/S-Tier.png);
}

.ranking.SS{
  background-image: url(../images/ui/SS-Tier.png);
}

/**********************************************************/
/***************************CAMPAIGNLIST*******************************/
/**********************************************************/

/**********************************************************/
/***************************CHOOSE DIFFICULTY*******************************/
/**********************************************************/

.chooseDifficulty{
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  bottom:15vh;
}

.difficultyRank{
  background-size: cover;
  border-radius: 10vh;
  background-color: rgba(0, 0, 0, 0.308);
  margin: 1vh;
  margin-top: 0vh;
  margin-bottom: 0vh;
  box-shadow: 0px 0px 10px black;
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  z-index: 1;
  transition:all 1s;
}

.difficultyRank:hover{
  background-color: rgb(0, 0, 0);
  transition:all 1s;
  transform: translateY(-1vh);
  box-shadow: 0px 7px 15px black;
}

.difficultyRank.active{
  background-color: rgb(0, 0, 0);
  transition:all 1s;
  transform: translateY(-1vh);
  box-shadow: 0px 7px 15px black;
}

#D{
  background-image: url(../images/ui/D-Tier.png);
}

#C{
  background-image: url(../images/ui/C-Tier.png);
}

#B{
  background-image: url(../images/ui/B-Tier.png);
}

#A{
  background-image: url(../images/ui/A-Tier.png);
}

#S{
  background-image: url(../images/ui/S-Tier.png);
}

#SS{
  background-image: url(../images/ui/SS-Tier.png);
}

/**********************************************************/
/***************************CHOOSE DIFFICULTY*******************************/
/**********************************************************/